@import url('https://fonts.googleapis.com/css2?family=Lunasima&display=swap');

.netflixBox {
    background-color: black;
    width: fit-content;
    display: flex;
    justify-content: space-around;
    padding: 1vw .5vw 0vw;
}
.netflixImages {
    padding-left: .3vw;
}


 .airbnbWrap{
    display: flex;
    justify-content: center;
}

.eachSetWrapAirBnb{
    margin: 0.5vw;
}

.airbnbImages{
    margin: 0;
    padding: 0;
    height: 23vw;
}

.airbnbText{
    margin: 0;
    font-family: 'Lunasima', sans-serif;
    font-weight: 600;
}

.bbcWrap{
    display: flex;
    justify-content: center;
}

.eachSetWrapBbc{
    width: min-content;
    margin: 0.5vw;
}

.bbcImages{
    width: 20vw;
}

.bbcTitle {
    margin: 0;
}

.bbcText {
    margin-top: 1vh;
    margin-bottom: 0;
}

.bbcExtrasWrap {
    display: flex;
    align-items: center;
    margin-top: 1vh;
    padding: 0;
}

.bbcAgeText {
    color: rgb(77, 77, 77);
    font-size: 1.8vh;
    margin: 0 0 0 0.2vw;
    font-weight: 600;
}

.bbcCatText {
    font-size: 1.8vh;
    font-weight: 600;
    margin: 0 0.5vw;
    padding: 0 0vw 0 0.5vw;
    border-left: 1px solid rgb(194, 194, 194);
}

.bbcClock{
    margin-top: 0.2vh;
}

.bbcComment{
    border-left: 1px solid rgb(194, 194, 194);
    padding-left: 0.5vw;
}